<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Chat Room</title>
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" href="/static/css/retrieve_password.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <h1 class="web-title">Get Password</h1>
        <div class="container" id="container">
            <form id="get-password">
                <p>Please enter</p>
                <input type="text" placeholder="Name" name="name">
                <input type="email" placeholder="Email" name="email">
                <input type="auth_code" placeholder="Auth Code" name="auth_code">
                <button type="submit">Get Password</button>
            </form>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
        <script>
            const socket = io();
            // 检测表单提交事件
            document.getElementById("get-password").addEventListener("submit", function(event) {
                event.preventDefault();

                const name = document.querySelector("input[name='name']").value;
                const email = document.querySelector("input[name='email']").value;
                const auth_code = document.querySelector("input[name='auth_code']").value;
                socket.emit("get_password", {
                    name: name,
                    email: email,
                    auth_code: auth_code
                });

            });

            // 监听服务端返回的消息
            socket.on("get_password_success", function() {
                alert("密码已发送至您的邮箱，请查收");
                window.location.href = "/";
            });
            // 监听服务端返回的消息
            socket.on("get_password_fail", function() {
                alert("找回密码失败，请检查您的信息是否正确");
            });
        </script>
    </body>
    
</html>
